@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center">
    <h1>YOUR <span class="text-danger">ATTENTION</span> HERE!</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3><mark>Exercise 1.a</mark></h3>
            <p class="text-info">It is easy to see individual elements within the page as they move around. Mostly gride or column like behavior.</p>
        </div>
        <div class="col-sm-4">
            <h3><mark>Exercise 1.b</mark></h3>
            <p class="text-info">The window grows and shrinks upon window resizing. Elements within the page relocate. Which is especially noticeable when shrinking the page as the elements form a column.</p>
        </div>
        <div class="col-sm-4">
            <h3><mark>Exercise 1.c</mark></h3>
            <dl>
                <dt>The Jumbotron class:</dt>
                <dd class="text-info">Is a very large page element with background/border drawing attention to the title of page and it's description.</dd>
                <dt>The Container class:</dt>
                <dd class="text-info">Is what hold most of the rest of the page elements like the body. Its gives the other elements something to move around in.</dd>
                <dt>The Row class:</dt>
                <dd class="text-info">Organizes page elements into rows which are stacked from top to bottom vertically.</dd>
                <dt>The Column class:</dt>
                <dd class="text-info">Organizes page elements into columns aligned side by side horizontally.</dd>
            </dl>
        </div>
    </div>
</div>

